#root,html,body {
    height: 100vh;
}

body{
    margin:0;
    /* background-color: rgb(252, 250, 127); */
    background-image: url('./bg4.jpg');
    background-repeat: no-repeat;
    /* background-size: cover; */
    background-size: 300px 100px;
}

*{
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}